/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Ignore Laravel files and directories..
/app
/bootstrap
/config
/database
/public
/storage
/resources
/routes
/tests
artisan
server.php
.gitattributes
.styleci.yml
composer.*
*.json
*.js
*.xml